<div class="footer">
  <div class="footer-links">
    <a href="#">contact</a>
    <a href="#">livraison</a>

  </div>

  <div class="footer-copyright">
    Merci Hossegor Team <i class="fas fa-heart"></i>
  </div>
</div>
