<div class="container">
<h1>Livraison & Retour</h1>

 <table style="width:100%">
    <tr>
      <td><i class="fas fa-shipping-fast"></i> <strong>Livraison Standard</strong>
        <br>
        Le temps d'expédition est estimé et commence à partir de la date d'expédition et non à partir de la date d'achat.
        Il peut être plus long que prévu en raison d'une adresse invalide, des procédures de dédouanement , de stock ou d'autres raisons.
        <br>
        Une fois votre commande validée, vous recevrez un lien de suivi de votre colis.
        <br>
        Veuillez noter qu'aucune réclamation ne peut être faite après 3 mois.</td>
      <td>3,95 €</td>
    </tr>
    <tr>
      <td><i class="fas fa-undo-alt"></i> <strong>COLISSIMO</strong>
        <br>
        Déposez votre colis dans le bureau de poste ou point relais le plus proche de chez vous.
       <br>
        Votre retour sera traité dans un délai d'environ 14 jours ouvrés.</td>
      <td>Gratuit</td>
    </tr>
  </table>

   <h5>* Le temps d'expédition est estimé et commence à partir de la date d'expédition et non à partir de la date d'achat.
    Il peut être plus long que prévu en raison d'une adresse invalide, des procédures de dédouanement , de stock ou d'autres raisons.</h5>

</div>
