.banner {
  background-size: cover;
  background-position: center;
  padding: 90px 0;
  height: 630px;
}

.banner img {
  opacity: 0.6;
}

.banner-offre {
  border: solid;
  border: red;
  background-color: black;
  color: white;
  // position:absolute;
  height: 50px;
  width: 100%;
  padding: 10px;
}

