.footer {
  background: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 300px;
  padding: 0px 50px;
  color: #205a58;
  margin-top: 50px;
}

.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #205a58;
  text-decoration: none;
  font-size: 20px;
  padding: 0px 10px;
}

.footer .fa-heart {
  color: #D23333;
}

.footer-cb {
  display: flex;
  align-items: center;
  color: #205a58;
  font-size: 24px;
}

.fab {
  padding: 10px;
}

