.navbar-lewagon {
  justify-content: space-between;
  background: #f3a552;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 70px;
  width: 70px;
}

.fa-user {
  color: black;
 justify-content : space-around;
 padding: 10px;

  &:hover {
      color: #397b71;
    }
}

.nav-motto {
  font-size: 14px;
}

.nav-motto img {
  height:15px;
  width: 15px;
}

.nav-item {
  font-size: 1.25rem;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
  &:hover {
      color: #397b71;
    }
}


.dropdown-menu {
  background-color: #f3a552;
  color: black;
}

.dropdown-menu a {
  color: black;
  text-decoration: none;
}

.dropdown-item {
  &:hover {
    background-color: #f3a552;
    color:#397b71
    }
}
