.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 70px;
  width: 70px;
}

.fa-user {
  color: black;
 justify-content : space-around;
 padding: 10px;

  &:hover {
      color: grey;
    }
}

.nav-motto {
  font-size: 14px;
}

.nav-motto img {
  height:15px;
  width: 15px;
}

.nav-item {
  font-size: 1.25rem;
}
