
<div class="container">
  <div class="row">
    <% @products.each do |product| %>
      <div class="card-trip">
        <%= link_to product_path(product) do %>
          <%= cl_image_tag product.photo.key %>
            <div class="card-trip-infos">
              <div>
               <h2><%= product.title %></h2>
              </div>
                <h2 class="card-trip-pricing"><%= humanized_money_with_symbol(product.price) %></h2>
            </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

